<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>Yandex Task 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/pure/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/common.css">
  </head>
  <body>
    <header class="header">
      <div class="pure-g">
        <div class="pure-u">
          <nav class="pure-menu pure-menu-horizontal">
            <a href="/" class="pure-menu-heading pure-menu-link">Yandex Task 2</a>
            <ul class="pure-menu-list">
              <li class="pure-menu-item">
                <a href="/lectures" class="pure-menu-link{{#if (eq path '/lectures')}} pure-menu-selected{{/if}}">Lectures</a>
              </li>
              <li class="pure-menu-item">
                <a href="/schools" class="pure-menu-link{{#if (eq path '/schools')}} pure-menu-selected{{/if}}">Schools</a>
              </li>
              <li class="pure-menu-item">
                <a href="/rooms" class="pure-menu-link{{#if (eq path '/rooms')}} pure-menu-selected{{/if}}">Rooms</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main>
      {{{body}}}
    </main>
    <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/app.js"></script>
  </body>
</html>
